<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<body>
<div class="headline">   
  <h1> Kuntokerroin </h1>
</div>
  <h2> Tervetuloa sovellukseen </h2>
  <p> Kirjaudu sisään tai luo käyttäjä</p>
<form action="/login" method="POST" onsubmit="return check(this)">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<a href="/signup">Luo tunnus</a>
</form>

<script>
function check(form) {
    if (form.username.value.length < 3 || form.username.value.length > 20 ) {
        alert("Käyttäjätunnuksen tulee olla 3-20 merkkiä pitkä");
        return false;
    }
    if (form.password.value.lenght < 6 || form.password.value.length > 20) {
        alert("Salasanan tulee olla 6-20 merkkiä pitkä");
        return false;
    }
    return true;
}
</script>

</body>
